<header class="header">
  <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-light nav-bar padding-l-r">
        <div class="container-fluid nav-contain max-width">
          <!-- logo -->
          <div class="logo-contain">
            <a href="/admin/presupuestos">
              <img class="w-100" src="/images/logo/logo.png" alt=""/>
            </a>
          </div>
          <!-- burguer-button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars bars-icon"></i>
          </button>
          <!-- nav -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 nav-list">
              <li class="nav-item">
                <a class="nav-link links fs-5" href="/admin/presupuestos">Lista de presupuestos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link links fs-5" href="/admin/crear-presupuesto">Crear presupuesto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link links fs-5" href="/admin/cambiar-contrasenia">Cambiar contraseña</a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="links btn btn-danger btn-red">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
