/* contact bar (dark blue) */
header{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
.header .contact-bar {
  background-color: var(--color-blueDark);
}
.header .contact-list {
  text-align: end;
  width: 100%;
}
.header .contact-list li {
  padding-left: 6px;
  font-size: 20px;
  line-height: 35px;
}
.header .contact-list a,
.header .nav-contain li .links,
.header .nav-contain .bars-icon {
  color: var(--color-white);
  font-weight: bold;
  vertical-align: middle;
}
.header .contact-list li.contact a:hover{
  transition: ease .5s;
  color: var(--color-red);
}
.header .contact-list li i {
  font-size: 27px;
  font-weight: initial;
}
.header .contact-list .tel a{
  vertical-align: top;
}
.header .contact-list .tel i {
  color: var(--color-red);
  vertical-align: text-bottom;
}
.header .contact-list .tel {
  display: list-item;
}
.header .contact-list .phone {
  font-weight: bold;
}
.header .contact-list .btn {
  padding: 2px;
}


/* nav-bar blue */
.header .nav-bar {
  background-color: var(--color-blue);
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.header .logo-contain {
  width: 130px;
}
.header .nav-contain li {
  text-align: center;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-white);
}
.header .nav-contain li.menu a:hover{
  transform: scale(1.15);
  transition: ease 0.5s ;
}
.header .nav-contain .collapse {
  justify-content: flex-end;
}
.header .nav-contain .collapse .nav-list {
  margin: 0;
}
/* mobile L */
@media (min-width: 425px) {
  .header .contact-list li {
    padding-left: 20px;
  }
  .header .contact-list .tel {
    display: inline;
  }
}
/* tablet */
@media (min-width: 768px) {
  
}
/* laptop */
@media (min-width: 1024px) {
  .header .nav-contain li {
    margin-left: 35px;
  }
}