.budgets-services .budgets img{
  display: none;
}

.budgets-services .budgets-container h3 {
  color: var(--color-blueDark);
}

/* budgetcard start*/
.budgets-services .budget-card {
  width: 100%;
  background-color: var(--color-blueDark);
  border-radius: 35px 35px 0 35px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
.budgets-services .budget-card .budget-detail {
  background-color: var(--color-blue);
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.budgets-services .budget-card .budget-detail li {
  padding: 5px 0;
  display: block;
  margin: 0 5px;
  border-bottom: 1px solid var(--color-red);
}
.budgets-services .budget-card .budget-detail li:last-child {
  border: none;
}
.budgets-services .budget-card a {
  font-size: 16px;
}
/* budgetcard end*/

/* why hire us */
.budgets-services .hire-us {
  background-image: url("../images/budgets/budget.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: scroll;
  position: relative;
}
.budgets-services .hire-us img {
  opacity: 0;
}
.budgets-services .hire-us .hire-us-text {
  position: absolute;
  top: 3%;
  color: var(--color-white);
}

/* services */

.budgets-services .service-box{
  overflow: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.budgets-services .service-box img{
  opacity: 0;
}

.budgets-services .service-box .service-text{
  position: absolute;
  top: 22vh;
}

.budgets-services .services h3 {
  background-color: var(--color-blueDark);
  color: var(--color-white);
}

.budgets-services .service-box .service-text p{
  font-size: 20px;
}

.budgets-services .service-name {
  color: var(--color-white);
}

/* custom quote */
.budgets-services .custom-quote {
  background-color: var(--color-blueDark);
  color: var(--color-white);
  width: 100%;
  margin: 0 auto;
}

@media(min-width: 425px){

  /* Services */
  .budgets-services .service-box{
    overflow: initial;
  }

  .budgets-services .service-box .service-text{
    top: 50%;
  }
}

@media(min-width: 640px){
  .budgets-services .budget-card{
    width: 200px;
  }

}



@media (min-width: 768px) {
  /* budgets list */
  .budgets-services .budgets {
    background-image: url("../images/budgets/budget.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: scroll;
    position: relative;
  }

  .budgets-services .budgets img{
    display: block;
    opacity: 0;
  }

  .budgets-services .budgets-container{
    position: absolute;
    top: 0;
  }

  .budgets-services .budgets-container h3 {
    color: var(--color-white);
  }
  .budgets-services .service-box .service-text h4{
    font-size: 40px;
  }
  
  .budgets-services .service-box .service-text p{
    font-size: 30px;
  }

  /* Why hire us */
  .budgets-services .hire-us {
    background-image: none;
    overflow: initial;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .budgets-services .hire-us img{
    display: none;
  }

  .budgets-services .hire-us .hire-us-text {
    position: unset;
    color: var(--color-blueDark);
    padding: 0 15px;
  }

  /* Font consult */
  .budgets-services .form-consultation {
    border-left: 1px solid var(--color-blue);
  }
}

@media (min-width: 1024px) {
  .budgets-services .service-box .service-text h4{
    font-size: 50px;
  }
  
  .budgets-services .service-box .service-text p{
    font-size: 40px;
  }
}