/* IMPORTS */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* css */
@import 'general.css';
@import 'especialClass.css';
@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'services.css';
@import 'login.css';
@import 'adminBudgets.css';


/* VARIABLES */
:root {
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
  --color-red: #f41414; 
  --color-blue: #0061a8;
  --color-blueDark: #132c33;
  --font: "Roboto";
}


