<footer>
  <div class="container-fluid max-width">
    <div class="row">
      <!-- Contact -->
      <div class="footer-contact col-12 col-md-4 my-3">
        <h4>CONTACTO</h4>
        <ul class="list">
          <li class="">
            <a href="https://wa.me/5491154902339?"> <i class="fab fa-whatsapp"></i><span> 15 54902339</span></a>
          </li>
          <li class="">
            <a href="tel:21439111"> <i class="fas fa-phone-alt phone"></i><span> 2143-9111</span></a>
          </li>
          <li>
            <a href="mailto:adonai.servicios@hotmail.com">
              <i class="far fa-envelope"></i><span> adonai.servicios@hotmail.com</span>
            </a>
          </li>
        </ul>
        <div></div>
      </div>
      <!-- Menu -->
      <div class="footer-menu col-12 col-md-4 my-3">
        <h4>MENU</h4>
        <ul class="list">
          <li>
            <a class="d-block" href="/"><span>Inicio</span></a>
          </li>
          <li>
            <a class="d-block" href="/#nosotros"><span>Nosotros</span></a>
          </li>
          <li>
            <a class="d-block" href="/abonos-servicios/#servicios"><span>Servicios</span></a>
          </li>
          <li>
            <a class="d-block" href="/abonos-servicios/#consulta-personalizada"><span>Consultas</span></a>
          </li>
          <li>
            <a class="d-block" href="/abonos-servicios"><span>Presupuestos</span></a>
          </li>
          <li>
            <a class="d-block" href="/#cv"><span>Trabaja con nosotros</span></a>
          </li>
        </ul>
        <div></div>
      </div>
      <!-- social media -->
      <div class="footer-social col-12 col-md-4 my-3">
        <h4>NUESTRAS REDES</h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/adonai-servicios-169b60219/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/AdonaiServicios-100233715712174/?ref=pages_you_manage" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/adonai.servicios1/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer si-padd">
      <div class="rights">
        <span>Todos los derechos reservados - Adonai 2020</span>
      </div>
  </div>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
