<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("./partials/header") %>

    <div class="login container-fluid max-width margin-admin-top py-4">

      <h3 class="text-center fw-bold mb-4">CAMBIAR CONTRASEÑA</h3>
      
      <form action="" class="form-login form-group pt-3 text-center fw-bold" method="POST">

          <label class="d-block text-start fs-5" for="pass">Contraseña actual</label>
        <input class="form-control" type="password" name="pass" id="pass">
        <p class="font-red fw-normal d-block text-start my-1">Campo obligatorio</p>

        <label class="d-block text-start  fs-5" for="newPass">Nueva contraseña</label>
        <input class="form-control" type="password" name="newPass" id="newPass">
        <p class="font-red fw-normal d-block text-start my-1">La contraseña no es válida</p>

        <label class="d-block text-start  fs-5" for="repeatPass">Repetir nueva contraseña</label>
        <input class="form-control" type="password" name="repeatPass" id="repeatPass">
        <p class="font-red fw-normal d-block text-start my-1">La contraseña no es válida</p>
        
        <button class="btn btn-primary btn-blue fw-bold mt-4" type="submit">Cambiar</button>
      </form>
    </div>

    <%- include("./partials/footer") %>
  </body>
</html>
